html
  head
    title Exercise #2
    link(rel="stylesheet" href="/css/pugStyles/exercise02")
  
  body
    table
      thead
        th 
        h1 House Name
        th
        h1 House sigil
    tbody
    for house in greatHouses
      tr
        td(class=`${house.name}`)
        h3=house.name
        td(class=`sigil-${house.name}`)
        h3=house.sigil