html
  include partials/exercise01Head

  body
    div
      ul.jedi
        h1 Jedi
        li Yoda
        li Obi Wan Kenobi
        li Mace Windu
        li Luke Skywalker

        ul.sith
          h1 Sith
          li Darth Nihilus
          li Darth Vader
          li Count Dooku
          li Darth Revan