html
  body
    ul Jedi
      li Yoda
      li Obi Wan Kenobi
      li Mace Windu
      li Luke Skywalker

      ul Sith
        li Darth Nihilus
        li Darth Vader
        li Count Dooku
        li Darth Revan